@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #111111;
  --surface: #F2F0F1;
  --button: #111111;
  --button-fg: #EEE;
  --discount: rgba(255, 51, 51, 0.1);
  --discount-fg: #FF3333;
  --success: #01AB31;
  --danger: #FF3333;
}

@theme inline {
  --color-color-background: var(--background);
  --color-color-foreground: var(--foreground);
  --color-color-surface: var(--surface);
  --color-color-button: var(--button);
  --color-color-button-fg: var(--button-fg);
  --color-color-discount: var(--discount);
  --color-color-discount-fg: var(--discount-fg);
  --color-color-success: var(--success);
  --color-color-danger: var(--danger);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

button {
  @apply bg-color-button text-color-button-fg font-bold py-1 px-3 rounded-sm hover:bg-color-button/85 cursor-pointer active:scale-95 transition-all ease-in-out;
}

input{
  @apply bg-color-surface text-color-foreground outline-amber-500 py-1 px-2 rounded-sm;
}

