services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    command: npm run dev
    environment:
      - NODE_ENV=development
    develop:
      watch:
        - action: sync
          path: ./frontend/src/
          target: /app
          initial_sync: true
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - RUST_LOG=debug
      - POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DATABASE}
    develop:
      watch:
        - path: ./backend
          action: rebuild
          target: /app
    command: cargo run

  database:
    image: postgres:15-alpine
    container_name: pg_database
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
volumes:
  postgres_data:
